// Abstracts
@import "normalize.scss";
@import "modal.scss";

// Fonts
@import "fonts.scss";

// Overrides

// Vendors

.page {
  min-height: 100vh;
  background-color: #EFEFEF;
}

.page__main {
  padding: 56px 0;
  
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 66px;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    padding: 0 30px;
  }
}